*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background: linear-gradient(135deg, #e6f2ff, #ffffff);
    font-family: 'Segoe UI', sans-serif;
}

.register-card {
    background-color: #ffffff;
}

.btn-ice {
    background-color: #1e90ff;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s;
}

.btn-ice:hover {
    background-color: #0d6efd;
    transform: translateY(-2px);
}


.logo {
    font-weight: 800;
    letter-spacing: 2px;
    color: #1e90ff;
}

.top-header {
    background: linear-gradient(135deg, #e6f2ff, #ffffff);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #333 !important;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #1e90ff !important;
}

footer {
    font-size: 14px;
}